#title {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#selection {
    display: flex;
}

#image {
    width: 50%;
}

#pierre, #feuille, #ciseaux {
    text-align: center;
}
